In [1]:
import numpy as np
import pandas as pd

data = pd.read_csv("./Data/student.csv")
data.head(5)

      sex  age  grade absence bloodtype  height  weight
0    male   20      2       N         O   157.1    52.3
1  female   24      2       Y         O   160.8    53.6
2    male   28      2       N         O   160.5    53.4
3    male   22      2       N        AB   159.0    52.2
4  female   23      2       N         O   160.9    53.1

In [2]:
print(data['weight'] / data['height'])

0     0.332909
1     0.333333
2     0.332710
3     0.328302
4     0.330019
        ...
95    0.408005
96    0.469687
97    0.360438
98    0.444842
99    0.401004
Length: 100, dtype: float64

In [6]:
filter = data['sex'] == 'male'
df_male = data[filter]
print(data[filter])

     sex  age  grade absence bloodtype  height  weight
0   male   20      2       N         O   157.1    52.3
2   male   28      2       N         O   160.5    53.4
3   male   22      2       N        AB   159.0    52.2
5   male   25      2       Y         A   161.5    50.1
6   male   25      2       N         O   155.4    49.9
8   male   27      3       Y         0   161.5    53.9
12  male   21      3       Y         A   148.3    51.8
14  male   23      1       N         B   160.3    49.5
15  male   23      2       N         O   166.4    49.9
18  male   28      3       N         A   165.9    52.6
19  male   28      4       N         A   161.1    53.9
20  male   26      4       N         O   149.7    50.2
22  male   25      2       N         O   152.3    52.9
23  male   21      1       N         B   156.6    51.2
24  male   25      2       N         O   156.5    51.7
26  male   21      3       Y         O   151.5    52.6
29  male   25      3       N         B   156.6    48.4
30  male   28      1       Y         O   162.7    54.3
38  male   22      3       Y         B   166.9    51.7
40  male   21      3       N         B   161.1    48.0
41  male   20      2       Y         B   156.8    52.2
43  male   23      3       Y         B   160.0    50.8
47  male   27      2       N         B   157.5    50.5
48  male   28      3       Y         A   154.0    49.9
51  male   23      3       N         B   162.0    73.5
52  male   28      4       N         O   168.2    68.3
53  male   26      2       Y         A   167.8    65.0
54  male   24      3       Y         B   157.3    73.3
57  male   23      2       N        AB   173.0    68.7
59  male   21      2       N        AB   163.8    70.5
60  male   24      4       Y         B   161.4    67.4
61  male   22      3       Y         O   167.2    72.0
64  male   20      1       Y         A   175.8    71.1
66  male   27      1       Y         A   171.8    67.8
67  male   28      2       Y         A   163.5    70.6
70  male   21      3       N         A   194.7    68.9
73  male   20      3       N         O   174.1    70.7
74  male   22      2       Y         A   161.6    74.2
75  male   24      3       Y         O   168.3    73.3
81  male   25      3       Y         O   179.1    73.6
82  male   23      4       N         O   164.1    75.5
86  male   25      1       N         B   169.5    68.1
88  male   26      3       Y         O   153.8    63.1
89  male   22      1       N         B   179.8    69.9
90  male   26      2       Y         A   174.8    74.0
93  male   25      3       Y         A   161.5    70.5
97  male   23      3       Y         B   173.4    62.5
98  male   25      3       Y         O   167.7    74.6

In [4]:
filter2 = data['sex'] == 'female'
df_female = data[filter2]

In [7]:
print(df_male)

     sex  age  grade absence bloodtype  height  weight
0   male   20      2       N         O   157.1    52.3
2   male   28      2       N         O   160.5    53.4
3   male   22      2       N        AB   159.0    52.2
5   male   25      2       Y         A   161.5    50.1
6   male   25      2       N         O   155.4    49.9
8   male   27      3       Y         0   161.5    53.9
12  male   21      3       Y         A   148.3    51.8
14  male   23      1       N         B   160.3    49.5
15  male   23      2       N         O   166.4    49.9
18  male   28      3       N         A   165.9    52.6
19  male   28      4       N         A   161.1    53.9
20  male   26      4       N         O   149.7    50.2
22  male   25      2       N         O   152.3    52.9
23  male   21      1       N         B   156.6    51.2
24  male   25      2       N         O   156.5    51.7
26  male   21      3       Y         O   151.5    52.6
29  male   25      3       N         B   156.6    48.4
30  male   28      1       Y         O   162.7    54.3
38  male   22      3       Y         B   166.9    51.7
40  male   21      3       N         B   161.1    48.0
41  male   20      2       Y         B   156.8    52.2
43  male   23      3       Y         B   160.0    50.8
47  male   27      2       N         B   157.5    50.5
48  male   28      3       Y         A   154.0    49.9
51  male   23      3       N         B   162.0    73.5
52  male   28      4       N         O   168.2    68.3
53  male   26      2       Y         A   167.8    65.0
54  male   24      3       Y         B   157.3    73.3
57  male   23      2       N        AB   173.0    68.7
59  male   21      2       N        AB   163.8    70.5
60  male   24      4       Y         B   161.4    67.4
61  male   22      3       Y         O   167.2    72.0
64  male   20      1       Y         A   175.8    71.1
66  male   27      1       Y         A   171.8    67.8
67  male   28      2       Y         A   163.5    70.6
70  male   21      3       N         A   194.7    68.9
73  male   20      3       N         O   174.1    70.7
74  male   22      2       Y         A   161.6    74.2
75  male   24      3       Y         O   168.3    73.3
81  male   25      3       Y         O   179.1    73.6
82  male   23      4       N         O   164.1    75.5
86  male   25      1       N         B   169.5    68.1
88  male   26      3       Y         O   153.8    63.1
89  male   22      1       N         B   179.8    69.9
90  male   26      2       Y         A   174.8    74.0
93  male   25      3       Y         A   161.5    70.5
97  male   23      3       Y         B   173.4    62.5
98  male   25      3       Y         O   167.7    74.6

In [8]:
print(df_female)

       sex  age  grade absence bloodtype  height  weight
1   female   24      2       Y         O   160.8    53.6
4   female   23      2       N         O   160.9    53.1
7   female   28      4       Y         O   153.0    53.4
9   female   21      2       Y         O   160.3    53.1
10  female   24      3       N         0   157.3    51.8
11  female   23      2       N         A   161.7    54.1
13  female   28      1       Y         O   166.6    52.0
16  female   22      3       N         B   161.6    52.3
17  female   26      2       N        AB   160.6    49.7
21  female   25      2       N         A   153.8    51.3
25  female   21      3       N         O   163.2    51.2
27  female   22      4       N         A   155.7    52.0
28  female   28      4       Y         O   162.3    54.2
31  female   25      4       Y         O   162.4    52.0
32  female   24      1       Y         P   161.4    49.0
33  female   28      3       Y         B   167.3    51.7
34  female   23      2       Y         A   148.9    50.9
35  female   21      3       N        AB   160.7    51.5
36  female   27      4       N         A   154.9    51.5
37  female   25      2       N         A   160.7    50.9
39  female   27      2       N         A   148.0    47.1
42  female   28      2       N         B   160.9    50.3
44  female   26      3       Y        AB   158.1    51.6
45  female   25      2       N         B   154.0    53.4
46  female   27      2       Y         O   163.2    53.2
49  female   27      1       Y         A   166.6    50.1
50  female   24      1       N        AB   178.3    68.0
55  female   28      2       N         B   169.2    71.9
56  female   28      1       N         A   189.1    68.4
58  female   22      2       N         B   170.9    67.0
62  female   24      3       Y         A   156.3    68.0
63  female   28      4       N         A   164.1    71.5
65  female   21      1       N        AB   176.5    64.6
68  female   24      1       N         O   165.3    64.5
69  female   27      3       N         B   183.7    69.9
71  female   22      2       Y        AB   160.5    71.1
72  female   26      2       Y         B   179.1    78.5
76  female   21      2       Y         O   174.6    75.4
77  female   24      4       N         O   169.4    72.0
78  female   28      3       N         A   194.4    71.7
79  female   24      4       N        AB   176.6    68.4
80  female   25      4       Y         O   164.0    69.8
83  female   21      3       N         O   177.9    66.2
84  female   23      2       Y         A   157.5    69.2
85  female   26      4       Y        AB   159.7    68.7
87  female   24      2       N         O   179.3    65.8
91  female   24      2       N         B   150.9    64.2
92  female   22      2       Y         A   165.7    68.5
94  female   24      1       Y         A   155.4    67.1
95  female   27      4       Y         A   154.9    63.2
96  female   27      1       N         O   156.7    73.6
99  female   28      3       N         A   179.3    71.9

In [9]:
data['bmi'] = 2*2*10
print(data)

       sex  age  grade absence bloodtype  height  weight  bmi
0     male   20      2       N         O   157.1    52.3   40
1   female   24      2       Y         O   160.8    53.6   40
2     male   28      2       N         O   160.5    53.4   40
3     male   22      2       N        AB   159.0    52.2   40
4   female   23      2       N         O   160.9    53.1   40
..     ...  ...    ...     ...       ...     ...     ...  ...
95  female   27      4       Y         A   154.9    63.2   40
96  female   27      1       N         O   156.7    73.6   40
97    male   23      3       Y         B   173.4    62.5   40
98    male   25      3       Y         O   167.7    74.6   40
99  female   28      3       N         A   179.3    71.9   40

[100 rows x 8 columns]

In [10]:
data['bmi'].mean()

40.0