In [4]:
import numpy as np
import pandas as pd

def adder(a,b):
    return a+b

In [5]:

ds = pd.Series([11,21,31,41,51])
ds

0    11
1    21
2    31
3    41
4    51
dtype: int64

In [6]:
ds.pipe(adder, 4)

0    15
1    25
2    35
3    45
4    55
dtype: int64

In [7]:
df = pd.DataFrame(np.random.rand(6,3), columns = ['col1', 'col2', 'col3'])

In [8]:
df.pipe(adder,5)

       col1      col2      col3
0  5.854249  5.628937  5.675799
1  5.770710  5.369516  5.616688
2  5.143060  5.321009  5.854911
3  5.386346  5.237550  5.057442
4  5.798824  5.080533  5.968722
5  5.206354  5.814993  5.896472

In [9]:
def myfunc(x):
    return x*x

In [10]:
ds.apply(myfunc)
df2 = pd.DataFrame([[1,2], [3,4]])
df2

   0  1
0  1  2
1  3  4

In [11]:
df2.apply(myfunc, axis = 0)
df2.apply(myfunc, axis = 1)

   0   1
0  1   4
1  9  16

In [12]:
f = lambda x: x*2
df2.apply(f)

   0  1
0  2  4
1  6  8