In [11]:
import os
import cx_Oracle
import time
import requests
import numpy as np 
from bs4 import BeautifulSoup
import pandas as pd 



URL = "http://ticket2.movie.daum.net/Movie/MovieRankList.aspx"

res = requests.get(URL)
soup = BeautifulSoup(res.content, 'lxml')
box = soup.find_all('div', class_="desc_boxthumb")

# count = 0
data = []
for movie in box:  
    title, ranking = movie.find('strong', class_="tit_join"), movie.find('em', class_="emph_grade")
    movie, grade = title.get_text().strip(), ranking.get_text().strip()
    # print(movie, grade)
    list2 = [movie, grade]#movie, grade를 list(이름,평점)로 가진 형태로 만듦
    data.append([movie,grade])#data에 list2의 모든데치터를 가지고 있는 리스 형태로 변환

df = pd.DataFrame(data,columns = ['title','rating'])
df.shape
df.dtypes
df['rating'] = df['rating'].astype(float)
# df = df.astype({'title':str,'rating':float}) #str = S10
df.dtypes
df['rating'].mean()

7.639999999999999

In [23]:
#csv파일 읽는 법
df = pd.read_csv("../data/billboard.csv")
df.shape
df.dtypes
df.describe()
df.columns
#df.index
df2 = df.reindex(index = [0,1,2],columns=['time','artist','year'])
df2

     time            artist  year
0    4:22             2 Pac  2000
1    3:15           2Ge+her  2000
2    3:53      3 Doors Down  2000
3    4:24      3 Doors Down  2000
4    3:35          504 Boyz  2000
..    ...               ...   ...
312  3:10       Yankee Grey  2000
313  3:55  Yearwood, Trisha  2000
314  4:19   Ying Yang Twins  2000
315  3:30     Zombie Nation  2000
316  4:12   matchbox twenty  2000

[317 rows x 3 columns]

In [36]:
import pandas as pd 
import numpy as np 
df3 = pd.DataFrame(np.random.randn(6,3), columns=['col1','col2','col3'])
df3
df4 = df3.rename(index={0:100,1:200},columns={'col1':'one','col2':'two'}) 
#이름을 columns만 아니라 index도 가능
df4

          one       two      col3
100  0.389073 -1.339039  1.288575
200 -0.142247 -0.021593  0.180499
2    0.071969 -0.720827  0.351239
3   -0.706206  0.284038 -0.237637
4   -2.350904 -0.210358  0.879222
5    0.471956 -1.540830  0.870945

In [54]:
#java, pyyhon, html, css, javascript, database, statistics, numpy, pandas....Index
#spring, mvc, design pattern
#maching learning, skit-learn, deep learning, cloud
#기사, sqld 1-2, adsp 1-2, 알고리즘(기초...), linux -1


# application developer(full stack)
#java, jsp, servelet, spring, html5, css3, javascript, react.js, angular.js, vue,js,
#database(sql syntax, procedure..)
#node.js, mysql, mssql, python,... 3번.IndexError

#웹에이전시...앱.. 비추

#spark, hadoop, linux, 분산어플케이션, 빅데이터 개발환경
#openstack -> 캐인 커뮤니티. 클라우드....

import numpy as np 
import pandas as pd

df = pd.DataFrame(np.random.randn(6,4),index = ['a','b','c','d','e','f'],\
                    columns = ['col1','col2','col3','col4'])
df
df.loc[['a','c'],['col1','col3']]
df.loc[['a'],['col1']] #loc를 붙여줘야함
df.loc['a':'f','col1':'col3']
df.loc['a']>0
# df.iloc[0:2,0:2]
# df.iloc[1:3,1:2]
df['col1'][:2]

a   -0.618544
b    0.506073
Name: col1, dtype: float64