In [22]:
data7 = pd.Series(5, index=[1,2,3,4,5,6])
data7

data8 = pd.Series([1,2,3,4,5,6])
data8
data8[0]
data8[:3]
data8 =pd.Series([1,2,3,4,5,6], index=[100,101,102,103,104,105])
data8['a']
data9 =pd.Series([2,3,4,5])
data9[0]
data9['g']

KeyError: 'a'

In [14]:
import pandas as pd 
import numpy as np 
s = pd.Series()
s

data = pd.Series([1,2,3,4])
data

data2 = pd.Series(['a','b','c','d'])
data2

data3 = pd.Series(['a','b','c','d'], index=[100,110,120,130])
data3
a= np.array([1,2,3,4])
a
data4 = pd.Series(a,index=[10,20,30,40])
data4

dic1 = {1:'test',2:'test2',3:'test3'}
data5 = pd.Series(dic1)
data5

data6 = pd.Series(dic1, index=[3,1,2])
data6

3    test3
1     test
2    test2
dtype: object

In [53]:
obj = pd.Series([4,7,-5,3])
obj
obj.values
obj.index

obj2 =pd.Series([4,7,-5,3],index=['d','b','a','c'])
obj2
obj2.index
obj2['a']
obj2['d'] = 6
obj2[['c','a','d']]
obj2[obj2>0]
obj2*2 
np.exp(obj2) #exp (x) = e ^ x 여기서 e = 2.718281 (약)

'b' in obj2
'e' in obj2

sdata ={'Ohio':35000,'Texas':71000,'Oregon':16000,'Utah':5000}
obj3= pd.Series(sdata)
obj3
states = ['California','Ohio','Oregon','Texas']
obj4 = pd.Series(sdata,index=states)
obj4

pd.isnull(obj4)
pd.notnull(obj4)

obj4.isnull()

obj3 + obj4

obj4.name = 'population'
obj4.index.name = 'state'
obj4

obj

obj.index=['Bob','Steve','Jeff','Ryan']
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

In [77]:
# Lists, Dict, Series, Numpy arrays, DataFrame
import numpy as np
import pandas as pd

df = pd.DataFrame() # 칼럼, 인덱스로 구성 
type(df)
df
 
df1 = pd.DataFrame([1,2,3,4,5,6]) # 기본은 이차원 프레임
df1

df2 = pd.DataFrame([[1,2], [3,4]])
df2

df3 = pd.DataFrame([['test1', 10], ['test2', 20], ['test3', 30]],columns=['name','age'],dtype=float)
df3

df4 = pd.DataFrame({'name':['이순신','강감찬','을지문덕','홍길동'],'age':[20,21,22,30]},\
                    index=['no1','no2','no3','no4'],columns =['age','name'])
df4
# df5 = pd.DataFrame([{'no1':10,'no2':20},{'no1': 100,'no2':200,'no3':300}]\
#                     ,index =['one','two'],columns = ['no3','no2','no1'])
# df5
# col1 = pd.Series([1,2,3],index=['a','b','c'])
# col2 = pd.Series([3,4,5],index=['a','b','c'])
# df6 = pd.DataFrame({'one':col1,'two':col2})
# df6['three'] = pd.Series([5,6,6],index=['a','b','c'])
# df6
# t=df6['one']
# type(t)
# df6['one']
# df6['two']
# df6['four'] = df6['one'] + df6['two']
# df6

     age  name
no1   20   이순신
no2   21   강감찬
no3   22  을지문덕
no4   30   홍길동

In [109]:
import numpy as np 
import pandas as pd 

data = [[1,2],[3,4]]
df = pd.DataFrame(data, index = ['row1','row2'],columns=['col1','col2'])
# print(df)
df['col2']
df.loc['row1']
d2 = df.iloc[0]
d2
df.iloc[1]
df[:1]

data2 ={'a':[1,2,3,4,5],'b':[5,6,7,8,9]}
df2 = pd.DataFrame(data2 ,index=['row1','row2','row3','row4','row5'])
print(df2)
df2.iloc[1]
df2.iloc[2]
df2['a']
df2['b']
df2.loc['row1']

row2 = pd.DataFrame([[1,2]],columns=['a','b'],index=['row6'])
row2
df2.append(row2)
df2.drop('row1')

a  b
row1  1  5
row2  2  6
row3  3  7
row4  4  8
row5  5  9

      a  b
row2  2  6
row3  3  7
row4  4  8
row5  5  9

In [178]:
import numpy as np
import pandas as pd

data =[1,2,3,4,5]
df = pd.DataFrame(data)
df.ndim
sf = pd.Series(data)
sf.ndim
sf.axes#축 설명
sf.size#size
sf.values#values 설명
sf.head(2)
df.head(2)
df.T
sf.dtype
df.dtypes#2차원이기 때문에 dtypes

#T, shape
df.shape

data2 = {'a':pd.Series([1,2,3]), 'b':pd.Series([2,3,4])}
df2 = pd.DataFrame(data2)
df2
df2.shape
df2.dtypes
df2.ndim
# 100, 50, 50 = 200
# 100 100 0 = 200

2

In [192]:
import numpy as np
import pandas as pd

data ={'name': pd.Series(['강감찬','이순신','홍길동']), 'age':pd.Series([20,30,40]),\
        'salary':pd.Series([2000,3000,4000])}
df = pd.DataFrame(data)
df.shape
df.ndim
df.sum(1)
df.mean
df.std()
df.count()
df.median()
df.min()
df.max()
df.describe()

data2 = {'name': pd.Series(['강감찬','이순신','홍길동','이성계','을지문덕','정약용',\
                            '연개소문','권율']), \
        'age':pd.Series([20,30,40,50,60,70,80,90]),\
        'salary':pd.Series([2000,3000,4000,500,400,300,200,300])}
df2 = pd.DataFrame(data2)
df2
df3 = df2.reindex(index=[0,2,5], columns=['name','salary','grade'])
df3

df4 = pd.DataFrame(np.random.randn(10,3),columns=['col1','col2','col3'])
df4
df5 = pd.DataFrame(np.random.randn(7,3),columns=['col1','col2','col3'])
df5.reindex_like(df4,method="ffill")#자동 채우기

       col1      col2      col3
0  1.375623  0.028090 -0.255159
1  0.902970  0.838510  1.779894
2  0.672993  1.625046  0.557789
3  1.081377 -0.761635  1.909100
4 -0.129878 -0.806085 -0.887314
5  1.098373  0.401051 -1.690592
6 -0.776914  0.049670  1.173708
7 -0.776914  0.049670  1.173708
8 -0.776914  0.049670  1.173708
9 -0.776914  0.049670  1.173708

In [68]:
import pandas as pd
import numpy as np
data = {'state' : ['Ohio','Ohio','Ohio','Nevada','Nevada','Nevada'],\
        'year' : [2000,2001,2002,2001,2002,2003],\
        'pop' : [1.5,1.7,3.6,2.4,2.9,3.2]}
frame = pd.DataFrame(data)
frame
frame.head()#처음 5개만 출력
pd.DataFrame(data,columns=['year','state','pop']) #원하는 컬럼 순서

frame2 =pd.DataFrame(data,columns=['year','state','pop','debt'],\
                index=['one','two','three','four','five','six'])

frame2
frame2.columns
frame2['state']
frame2['year']

frame2.loc['three']
frame2['debt'] =16.5
frame2
frame2['debt'] =np.arange(6.)#float 6.0까지 범위의 숫자를 차례대로 debt컬럼에 대입
frame2

val = pd.Series([-1.2,-1.5,-1.7],index=['two','four','five'])
frame2['debt']=val #index이름에 맞게 val값이 대입 없는 index는 null
frame2

frame2['eastenr'] = frame2.state == 'Ohio' #없는 칼럼은 추가되고 조건에대한 값으로 입력가능
frame2

del frame2['eastenr'] #칼럼 삭제
frame.columns
pop = {'Nevada' : {2001 : 2.4, 2002:2.9},'Ohio':{2000:1.5,2001:1.7,2002:3.6}}
frame3 = pd.DataFrame(pop)
print(frame3)
frame3.T
frame3
pop2=pd.DataFrame(pop, index=[2001,2002,2003])
#index를 지정해주면 지정된 값이 있는경우 데이터를 가져오고 없는 경우 새로 생성
pop2
pdata = {'Ohio':frame3['Ohio'][:-1], 'Nevada':frame3['Nevada'][:1]} 
#[:-1] 데이터값의 범위가 없을떄는 null값을 표시됨
pdata2=pd.DataFrame(pdata)
pdata2

frame3.index.name = 'year';frame3.columns.name ='state'
frame3

frame3.values

frame2.vulues

Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5

AttributeError: 'DataFrame' object has no attribute 'vulues'