In [63]:
# Lists, Dict, Series, Numpy arrays, DataFrame
import numpy as np
import pandas as pd
df = pd.DataFrame()
#type(df)
df
df1 = pd.DataFrame([1,2,3,4,5,6])
df1
df2 = pd.DataFrame([[1,2],[3,4]])
df2
df3 = pd.DataFrame([['test1',10],['test2',20],['test3',30]], columns=['name','age'], dtype=float)
df3
df4 = pd.DataFrame({ 'name' : ['이순신','강감찬','을지문덕','홍길동'], \
                        'age' : [20,21,22,30]}, index=['no1','no2', 'no3', 'no4'], \
                        columns = ['age','name'])
df4
df5 = pd.DataFrame([{'no1' : 10, 'no2': 20}, {'no1' : 100, 'no2' : 200, 'no3' : 300}],
                index=['one', 'two'], columns=['no3', 'no2','no1'])
df5
col1 = pd.Series([1,2,3], index=['a','b','c'])
col2 = pd.Series([3,4,5], index=['a','b','c'])
df6 = pd.DataFrame({'one': col1, 'two' : col2})
df6['three'] = pd.Series([5,6,6],index=['a','b','c'])
df6
t = df6['one']
type(True)
df6['one']
df6['two']
df6['four'] = df6['one'] + df6['two']
df6
del df6['one']
df6

   two  three  four
a    3      5     4
b    4      6     6
c    5      6     8