In [1]:
import numpy as np
import pandas as pd

In [2]:
left = pd.DataFrame({
    'id':[1,2,3,4,5],
    'name':['a','b','c','d','e'],
    'subject_id' : ['sub1','sub2','sub4','sub5','sub6']
})

In [3]:
right = pd.DataFrame({
    'id':[1,2,3,4,5],
    'name' :['a1','b1','c1','d1','e1'],
    'subject_id' : ['sub2','sub4','sub3','sub6','sub5']
})

In [4]:
df = pd.merge(left,right, on="id")
df

   id name_x subject_id_x name_y subject_id_y
0   1      a         sub1     a1         sub2
1   2      b         sub2     b1         sub4
2   3      c         sub4     c1         sub3
3   4      d         sub5     d1         sub6
4   5      e         sub6     e1         sub5

In [5]:
df = pd.merge(left, right, on = "subject_id", how="outer") #left, right, inner, outer