In [1]:
import numpy as np 
import pandas as pd 

#계층적 색인
df = pd.DataFrame([1,2,3,4,5,6,7,8,9],
                    index=[['a','a','a','b','b','c','c','d','d'],[1,2,3,1,3,1,2,2,3]]) #index=[]안에 두개의 []가 들어가있음.

df

     0
a 1  1
  2  2
  3  3
b 1  4
  3  5
c 1  6
  2  7
d 2  8
  3  9

In [2]:
df.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

In [7]:
df.loc['a']
df.loc['b']
df.loc['a',1]
df.loc[['a','b']]

     0
a 1  1
  2  2
  3  3
b 1  4
  3  5

In [9]:
df.loc[:]

     0
a 1  1
  2  2
  3  3
b 1  4
  3  5
c 1  6
  2  7
d 2  8
  3  9

In [13]:
df2 = df.unstack() # 제2계층 행 인덱스를 열인덱스로 바꾸어서 그에 맞는 테이블을 출력 / 딥러닝에서 활용한다고 함.
df2

     0
     1    2    3
a  1.0  2.0  3.0
b  4.0  NaN  5.0
c  6.0  7.0  NaN
d  NaN  8.0  9.0

In [14]:
df2.stack() #unstack을 원래대로 돌림

       0
a 1  1.0
  2  2.0
  3  3.0
b 1  4.0
  3  5.0
c 1  6.0
  2  7.0
d 2  8.0
  3  9.0