In [6]:
import pandas as pd
from datetime import datetime
d= ['20200101', '20200101', '20200101', '20200102', '20200102','20200102','20200103', '20200103','20200103']
col1 = ['a','b','c','a','b','c','a','d','e']
col2 = [1,2,3,1,2,3,1,2,3]
data = {'date':d, 'col1': col1,'col2':col2}
df = pd.DataFrame(data)
df.pivot_table(index='date', columns ='col1', values='col2')

col1        a    b    c    d    e
date
20200101  1.0  2.0  3.0  NaN  NaN
20200102  1.0  2.0  3.0  NaN  NaN
20200103  1.0  NaN  NaN  2.0  3.0

In [13]:
df2 = pd.DataFrame(
    {'foo': ['one','one','one','two','two','two','two'],
    'bar': ['A','B','C','A','B','C','D'],
     'baz' : [1,2,3,4,5,6,7],
    'zoo' : ['x','y','z','q','w','t', 's']}
)

In [16]:
df2.pivot(index = "foo", columns = 'bar', values = 'baz')
df2.pivot(index='foo', columns = 'bar')['baz']
#df2.set_index(['foo', 'bar'])[['baz']].unstack()

bar    A    B    C    D
foo
one  1.0  2.0  3.0  NaN
two  4.0  5.0  6.0  7.0

In [18]:
df3 = pd.DataFrame(
    { 'col1':[100,87,92,10,20],
    'col2': [30,29,20,30,100],
    'col3': [89,20,3,2,50]
    })
from sklearn import preprocessing
cols = ['col1','col2','col3']
df4 = df3[cols].values
min_max_scaler = preprocessing.MinMaxScaler()
x_data = min_max_scaler.fit_transform(df4.astype(float))
x_data.shape

(5, 3)

In [19]:
df5 = pd.DataFrame(x_data)
df5

          0       1         2
0  1.000000  0.1250  1.000000
1  0.855556  0.1125  0.206897
2  0.911111  0.0000  0.011494
3  0.000000  0.1250  0.000000
4  0.111111  1.0000  0.551724