In [2]:
import pandas as pd
from datetime import datetime
col1 = ['abb','def','dda','abb','abb']
col2 = ['x1','x2','y1','y2','x2']
col3 = [2,2,2,2,2]
data = {'col1':col1, 'col2':col2, 'col3':col3}
df = pd.DataFrame(data)
df
pd.pivot(df, index="col1", columns = 'col2', values='col3').fillna(0)

col2   x1   x2   y1   y2
col1
abb   2.0  2.0  0.0  2.0
dda   0.0  0.0  2.0  0.0
def   0.0  2.0  0.0  0.0