In [30]:
import numpy as np
import pandas as pd
import sys

## Initialize Data
student = pd.read_csv("./Data/student.csv")
student.head()

      sex  age  grade absence bloodtype  height  weight
0    male   20      2       N         O   157.1    52.3
1  female   24      2       Y         O   160.8    53.6
2    male   28      2       N         O   160.5    53.4
3    male   22      2       N        AB   159.0    52.2
4  female   23      2       N         O   160.9    53.1

In [15]:
## Initialize Function
def calculateBMI(a, b):
        return (a/b)

student.describe()

In [3]:
## Calculate Bmi && Make 'BMI' Column

student['bmi'] = student['weight'] / ((student['height']/100)*(student['height']/100))

student['bmi'].head()

In [33]:
# Divide male, female Column

filter_male = student['sex'] == 'male'
filter_male.head()

filter_female = student['sex'] == 'female'
filter_female.head()

0    False
1     True
2    False
3    False
4     True
Name: sex, dtype: bool

In [13]:
student_male = student[filter_male]
student_male_bmi = student_male['bmi']

student_female = student[filter_female]
student_female_bmi = student_female['bmi']

In [11]:
student_male.head()

    sex  age  grade absence bloodtype  height  weight      bmi
0  male   20      2       N         O   157.1    52.3  9.18147
2  male   28      2       N         O   160.5    53.4  9.18147
3  male   22      2       N        AB   159.0    52.2  9.18147
5  male   25      2       Y         A   161.5    50.1  9.18147
6  male   25      2       N         O   155.4    49.9  9.18147

In [12]:
student_female.head()

       sex  age  grade absence bloodtype  height  weight        bmi
1   female   24      2       Y         O   160.8    53.6  20.729685
4   female   23      2       N         O   160.9    53.1  20.510792
7   female   28      4       Y         O   153.0    53.4  22.811739
9   female   21      2       Y         O   160.3    53.1  20.664623
10  female   24      3       N         0   157.3    51.8  20.934969

In [21]:
print("######## Gender Avg. BMI Score #########")
num = int(input("Select what you want to know about which avg. Bmi score Man(1), Women(2), Exit(3) :"))

######## Gender Avg. BMI Score #########
Select what you want to know about which avg. Bmi score Man(1), Women(2), Exit(3) :3

student_male['weight'].mean()

student_male['height'].mean()

In [32]:
if num == 1:
    print(calculateBMI(student_male_bmi.sum(), len(student_male_bmi)))
elif num == 2:
    print(calculateBMI(student_female_bmi.sum(), len(student_female_bmi)))
else:
    print("End")
    ##sys.exit(1)

End